

body{
    margin-left: 300px;
    margin-top: 150px;
}
#campo {
            width: 600px;
            height: 300px;
            background-color: black;
            position: absolute;
            
        }
        .player {
            width: 10px;
            height: 80px;
            background-color: white;
            position: absolute;
        }
        #player1 {
            left: 10px;
            background-color: blue;
        }
        #player2 {
            right: 10px;
            background-color: red; 
        }
        #bola {
            width: 20px;
            height: 20px;
            background-color: white;
            position: absolute;
            border-radius: 10px; 
        }
